Makefile
TAGS
autom4te.cache/
.libs/
.deps/
.dirstamp
config.h
config.log
config.status
config/pandora_vc_revinfo
docs/.pop
docs/Makefile
libtool
stamp-h1
support/libmemcached-fc.spec
support/libmemcached.pc
*.o
*.lo
*.la
*.pop
*.3
*.1
clients/memcapable
clients/memcat
clients/memcp
clients/memdump
clients/memerror
clients/memflush
clients/memrm
clients/memslap
clients/memstat
example/memcached_light
tests/atomsmasher
tests/hashplus
tests/memplus
tests/startservers
tests/testapp
tests/testhashkit
tests/testplus
tests/testudp
